/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
}

/* Style the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f1108;
  padding: 10px; /* Adjust the padding */
  height: 80px; /* Adjust the height */
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
text-transform: uppercase;


}

/* Style the logo */
.logo img {
  max-width: 250px; /* Increase the maximum width */
  height: auto; /* This ensures the aspect ratio is maintained */
}

.logo {
  margin-bottom: 40px; /* Adjust the margin as needed */
}
/* Style the navigation links */
.nav-links a {
  color: #f2f2f2;
  text-decoration: none;
  margin-left: 20px;
  font-size: 17px;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
}
.nav-links a:hover {
  color: #2da6bb; /* Change this to the color you want on hover */
}
.nav-links a.active {
  text-decoration: underline; /* Change this to the color you want for active links */
  color: #2da6bb;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-links a {
        margin: 5px 0;
    }
}
/* Style the hero section */
.hero {
  background-image: url('/assets/img/hero-bg.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 8vh;
  padding: 5vh;
}

/* Style the text overlay */
.hero-content {
  background-color: rgba(0, 0, 0, 0.44); /* Semi-transparent black overlay */
  border-radius: 35px;
  color: #fff;
  padding: 80px;
  max-width: 50%;
  margin: 4vh;
}

.hero-content h1 {
  font-size: 10px;
  margin: 0;
}

.hero-content p {
  font-size: 18px;
}


.hero-content a {
  border-radius: 20px;
  display: inline-block;
  background-color: #2da6bb;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 5vh;

}

.full-width-section {
  background-color: #D7D6D6;; /* Background color for the full-width section */
  color: #ffffff; /* Text color */
  text-align: center;
  position: relative;
  height: 50vh;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 3vh;
}

.info-box {
  max-width: 20%; /* Maximum width for the content */
  margin: 0 auto; /* Center the content horizontally */
  color: #717568;
  padding: 10px;
  cursor: pointer;
  position: relative;

}
.image-container {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-image {
  vertical-align: top;
  width: 250px;
  height: 250px; /* Set the width and height to maintain a square aspect ratio */
  background-color: #ffffff;
  margin: 10px; /* Add some space between the square images */
  border-radius: 15px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;
  display: block;

}

.square-image2 {
  vertical-align: top;
  width: 250px;
  height: 250px; /* Set the width and height to maintain a square aspect ratio */
  background-color: #d0cccc;
  margin: 10px; /* Add some space between the square images */
  border-radius: 15px;
  margin-left: 30px;
  margin-right: 30px;
} 

.full-width-section2 {
  background-color: #fff; /* Background color for the full-width section */
  color: #d0cccc; /* Text color */
  text-align: center;
  position: relative;
  height: 40vh;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

footer {
  color: #717568;
font-family: 'Abril Fatface', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
  background-color: #d7d6d6;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 25vh;
}

/* Style for the logo in the footer */
.footer-logo {
  padding-left: 10vh;
  width: 300px; /* Adjust the width as needed */
  height: auto; /* To maintain aspect ratio */
}

/* Style for the first row of links */
.footer-links-row1 {
  align-items: flex-start;
  list-style: none;
  padding: 0;
}

/* Style for the individual link in the footer */
.footer-link {
  margin-right: 10px; /* Adjust the spacing between links */
  text-decoration: none;
  color: #000; /* Link color */
  font-weight: bold;
}

/* Style for the second row of links */
.footer-links-row2 {
  list-style: none;
  padding: 0;
}

/* Apply similar styling to the second row links as the first row */
.footer-links-row2 .footer-link {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
html {
  scroll-behavior: smooth;
}
