/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
}

/* Style the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f1108;
  padding: 10px; /* Adjust the padding */
  height: 80px; /* Adjust the height */
}

/* Style the logo */
.logo img {
  max-width: 250px; /* Increase the maximum width */
  height: auto; /* This ensures the aspect ratio is maintained */
}

.logo {
  margin-bottom: 40px; /* Adjust the margin as needed */
}
/* Style the navigation links */
.nav-links a {
  color: #f2f2f2;
  text-decoration: none;
  margin-left: 20px;
  font-size: 17px;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-links a {
        margin: 5px 0;
    }
}
/* Style the hero section */
.hero {
  background-image: url('/assets/img/hero-bg.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  align-items: center;
}

/* Style the text overlay */
.hero-content {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
  color: #fff;
  padding: 20px;
  max-width: 50%;
  margin-left: 5vh;
}

.hero-content h1 {
  font-size: 36px;
  margin: 0;
}

.hero-content p {
  font-size: 18px;
}


.hero-content a {
  display: inline-block;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
}

